# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# VSCode
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Stockfish 
stockfish/